body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1,h2 {
    border: 1px black solid;
    padding: 20px;
}

h1 {
  	background-color: #FFED74;
    text-align: right;
    font-size: 2em;
}
h2 {
  background-color: #E8C66A;
  font-size: 1.5em;
  
}
div/section {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#two_column {
  background-color: #FFB7CF;
  border: 1px black solid;
  padding: 20px;
}
#left {
  background-color: #a5b6d3;
  border: 1px black solid;
  padding: 20px;
  float: left;
  width: 50%;
}
#right {
  background-color: #bcc3d1;
  border: 1px black solid;
  padding: 20px;
  float: right;
}
aside {
 	background-color: #FFC675;
  border: 1px black solid;
  padding: 20px;
}
article {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
  }
footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}