body {
    text-align: center;
    font-family: 'Cardo', serif;
}
h1,h2 {
    padding: 10px;
}
h1 {
    font-size: 3em;
    text-align: left;
    font-family: 'Dosis', sans-serif;

}
nav {
  font-size: 1.5em;
  color: black;
  font-family: 'Dosis', sans-serif;

  }
h2 {
    padding: 10px;
    text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 500px;
}
div/section {
  padding: 20px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#hat {
  display: block;
  width: 100%;
  margin: 0;
  background: #C0C0C0;
}

#two_column {
  background-color: #FFB7CF;
  padding: 20px;
}
#left {
  background-color: #a5b6d3;
  padding: 20px;
  float: left;
  width: 50%;
}
#right {
  background-color: #bcc3d1;
  padding: 20px;
  float: right;
  width: 40%;
}
aside {
 	background-color: #C0C0C0;
  padding: 20px;
}
article {
  background-color: #C0C0C0;
  padding: 20px;
  }
footer {
  padding: 20px;
  padding: 1em 0;
  clear: both;
  font-family: 'Dosis', sans-serif;

}