<style>
body {
  text-align: center;
  color: black;
}
header {
  	background-color: #FFED74;
}
nav {
	background-color: #E8C66A;
}
aside {
 	background-color: #FFC675;
}
article {
  background-color: #E89C6C;
}
footer {
  background-color: #FF957E;

}
div/section {
  background-color: #FFE2B8;
}
</style>