<style>
<link href="https://fonts.googleapis.com/css?family=Merriweather|Ultra" rel="stylesheet"> 
body {
  color: black;
  font-style: Futura
}
header {
  	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    font-family: 'Ultra', serif;
}
nav {
	background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
  text-align: center;
  font-family: 'Ultra', serif;
}
div/section {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
  text-align: center;
}
aside {
 	background-color: #FFC675;
  border: 1px black solid;
  padding: 20px;
  text-align: center;
}
article {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
  text-align: center;
  font-family: 'Merriweather', serif;

}
</style>