@import url('https://fonts.googleapis.com/css?family=Carter+One|Josefin+Slab');
body {
  text-align: center;
  width: 600px;
  margin: auto;
  padding-top: 2em;
  background-image: url("party.jpg");
  background-size: cover;
  color: rgb(0,0,0);
  font-family: 'Carter One', cursive;

}
h1 {
  	font-size: 40px;
}
h2 {
	font-style: italic;
}
p {
 	font-family: 'Josefin Slab', serif;
  	font-size: 22px;
}
ul {
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
}