body {
  text-align: center;
  background: url("http://www.hellovancity.com/events/vancouver-new-years-eve-2016-party-guide/");
  background-size: cover;
  color: #fff;
  font-family: futura;

}
hr {
  width: 200px;
}
h2 {
	font-style: italic;
}
p {
  font-size: 22px;
  padding: 20px;
}