body {
  text-align: center;
  background: url("http://s3.amazonaws.com/ogden_images/www.hiddenvalleyresort.com/images/2015/11/24191417/hiddenvalley_nye_2015.jpg");
  background-size: cover;
  color: #fff;
  font-family: futura;

}
hr {
  width: 200px;
}
h2 {
	font-style: italic;
}
p {
  font-size: 22px;
  padding: 20px;
}